PORT=
NODE_ENV=
CLIENT_ORIGIN=
DATABASE_URL=


#Default Admin Credentials
ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_FIRST_NAME=
ADMIN_LAST_NAME=

#Mail configuration
SMTP_MAIL_HOST=
SMTP_MAIL_PORT=
SMTP_MAIL_USER=
SMTP_MAIL_PASS=
SMTP_MAIL_FROM_NAME=

#JWT configuration
JWT_SECRET=
JWT_EXPIRES_IN=


#Database configuration
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

#Redis configuration
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

#Stripe configuration
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=