PORT=5000
NODE_ENV=development
CLIENT_ORIGIN=*

SMTP_MAIL_HOST=smtp.example.com
SMTP_MAIL_PORT=587
SMTP_MAIL_USER=your-email@example.com
SMTP_MAIL_PASS=your-email-password
SMTP_MAIL_FROM_NAME=Nexo
MAIL_USER=your-email@example.com
